extends layout

block content
  h1 SULCATA

  h2 - map and cam
  div.container
    div.row
      div.col-sm-2
        #nav 
      div.col-sm-2
      div.col-sm-2
      div.col-sm-2
        #mjpeg

  h2 - input (vim nav)
  #speed-label
  #speed-slider
  br

  //button(id='left', class='btn', style='width: 150px; height: 40px').
  //  left (h)
  //button(id='bw', class='btn', style='width: 150px; height: 40px').
  //  backward (j)
  //button(id='fw', class='btn', style='width: 150px; height: 40px').
  //  forward (k)
  //button(id='right', class='btn', style='width: 150px; height: 40px').
  //  right (l)
