extends layout

block content
  h1= title
  form(name="ctrlPanel") 
    table
      tr 
        | Linear X:  
        input(id="linearXText", name="linearXText", type="text", value="1.5")
        br
        | Angular Z:  
        input(id="angularZText", name="angularZText", type="text", value="1.5")
    button(id="sendMsg", class="btn" onclick="pubMessage()").
      Submit
