extends layout

block content
  h1= title
  form(name="ctrlPanel") 
    button(id="left", class="btn" onclick="left()").
      Submit
    button(id="right", class="btn" onclick="right()").
      Submit
    button(id="foward", class="btn" onclick="forward()").
      Submit
    button(id="backward", class="btn" onclick="backward()").
      Submit
    button(id="stop", class="btn" onclick="stop()").
      Submit
