doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdn.robotwebtools.org/EventEmitter2/current/eventemitter2.min.js')
    script(src='//cdn.robotwebtools.org/roslibjs/current/roslib.min.js')
    script(src='javascripts/client.js')
  body
    block content
